@import url(https://fonts.googleapis.com/css?family=Merienda:400,700);

body {
    min-height: 300px;
    background-color: #F8F8F9;
}

p.content-font-style {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

.well {
    background-color: #fff;
}

.like_count_blog {
  display: inline-block;

}

input[type="file"] {
    display: none;
}

ul#notifications li {
    display: inline-block;
}

.btn-primary {
    color: #fff;
    background-color: #4183D7;
    border-color: #4183D7;
}

.btn {
    padding: 6px 10px;
    font-weight: bold;
}

a.btn.btn-primary:hover{
    background-color: #2c75d2;
}

input.btn.btn-primary:hover{
    background-color: #2c75d2;
}

.navbar-static-top {
  margin-bottom: 9px;
  background-color: #4183D7;
}

.navbar-default .navbar-nav>li>a {
    color: #fdfcfc;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #fbf9f9;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 30px;
    font-size: 22px;
    line-height: 20px;
    font-family: 'Merienda', sans-serif;
}

.navbar-default .navbar-brand>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #fff;
    font-size: 16px;
}

.dropdown-menu>li>a:hover {
   color: #262626;
   text-decoration: none;
   background-color: #f5f5f5;
}

.dropdown-menu {
    display: none;
    min-width: 133px;
    padding: 0 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    font-size: 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #4183D7;
}

.blog-footer {
  padding: 30px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.thumbnail {
	padding: 0;

	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 5px 5px 5px 5px;

	background-color: #fff;
	border: 0;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
	box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
}
.thumbnail .caption {
	padding-left: 20px;
	padding-right: 20px;
}
.thumbnail .caption p {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

.alert-success {
    color: #4183D7;
    background-color: #fff;
    border-color: #4183D7;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    color: #4183D7;
}

.close:hover{
    color: #4183D7;
}

.asteriskField {
    display: none;
}

a.del-comment {
    float: right;
    color: #aaa;
}
