{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Following | {{ block.super }}{% endblock %}


{% block content %}

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        {% if following.profile.get_following %}
        <h2>Following</h2>
        <hr/>
        <ul id="notifications">
            {% for a in following.profile.get_following %}
            {% if a.profile.photo %}
            <li><img width="50" height="50" class="img-circle" src="{{ a.profile.photo.url }}" alt=""></li>
            {% else %}
            <li><img width="50" height="50" class="img-circle" src="{% static 'img/avatar2.jpg' %}" alt=""></li>
            {% endif %}
            <li><a href="{{ a.get_absolute_url }}" style="text-decoration:none;"><h4><b>{{ a.username }}</b></h4></a></li>
            <br/>
            <br/>
            {% endfor %}
        </ul>
        {% else %}
        <br/>
        <br/>
        <h1>You aren't following anybody</h1>
        {% endif %}
    </div>
</div>
{% endblock %}


