{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome{% endblock %}


{% block content %}


{% block extra_css %}
<style>
   body {
    background-image: url({% static 'img/social_media.jpg' %});
       no-repeat center center fixed;
       -webkit-background-size: cover-moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
</style>
{% endblock %}


<br/>
<br/>
<br/>
<br/>
<br/>
<div class="well">
    <h1>Welcome!</h1>
    <hr>
    <p>Your account has been successfully created. Now you can <a href="{% url 'login' %}">log in</a></p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}


