{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block content %}

{% block extra_css %}
<style>
    body {
    background-image: url({% static 'img/social_media.jpg' %});
       no-repeat center center fixed;
       -webkit-background-size: cover-moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
</style>
{% endblock %}

<br/>

<div class="container">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="well">
            <h1>Create an account</h1>
            <p>Already have an account? Then please <a href="{% url 'login' %}">Sign In</a></p>

            <form action="." method="post">
                {{ user_form|crispy }}
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Sign Up"></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}


