{% extends "base.html" %}
{% load staticfiles %}

{% block title %}All users | {{ block.super }}{% endblock %}


{% block content %}

<div class="container">
    <h2>All Users</h2>
    <hr>
    {% for user in people|dictsort:"username" %}
        <div class="col-sm-3">
            <center>
                {% if user.profile.photo %}
                <p><img width="100" height="100" class="img-circle" src="{{ user.profile.photo.url }}" alt=""></p>
                {% else %}
                <p><img width="100" height="100" class="img-circle" src="{% static 'img/avatar2.jpg' %}" alt=""></p>
                {% endif %}
                <a href="{{ user.get_absolute_url }}" style="text-decoration:none;">{{ user }}</a>
            </center>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    {% endfor %}
</div>

<div class="prev_next" style="text-align: center;">
    <ul class="pagination">
        {% if people.has_previous %}
        <li><a class="prev btn btn-primary" href="?page={{people.previous_page_number}}">Prev</a></li>
        {% endif %}
        {% for pg in page_range %}
        {% if people.number == pg %}
        <li><a href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
        {% else %}
        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
        {% endif %}
        {% endfor %}
        {% if people.has_next %}
        <li><a class="next btn btn-primary" href="?page={{people.next_page_number}}">Next</a></li>
        {% endif %}
        <span class="clear_both"></span>
    </ul>
</div>
<br/>

{% endblock %}
